body {
  margin: 0;
}
#container {
  display: flex;
  flex-wrap: wrap;
}
header {
  order: 1;
  flex-grow: 1;
  flex-basis: 100%;
  padding: 10px;
  background: #ffa8a8;
}
header img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
nav {
  order: 2;
  width: 100%;
  flex-grow: 1;
  flex-basis: 100%;
  background-image: url("images/bg_nav.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  nav li {
    text-align: center;
  }
}
nav li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  background-image: url("images/bg_nav.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  font-size: 20px;
  color: white;
}
@media screen and (max-width: 800px) {
  nav li a {
    font-size: 18px;
    padding: 3px 5px;
  }
}
@media screen and (max-width: 600px) {
  nav li a {
    font-size: 18px;
    padding: 3px 5px;
    width: 100%;
    box-sizing: border-box;
  }
}
nav li a:hover {
  background-image: url("images/bg_nav_h.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
}
#left {
  order: 3;
  flex: 1;
  padding: 10px;
  background-color: #ffe0e0;
}
@media screen and (max-width: 800px) {
  #left {
    order: 4;
    flex: 1;
  }
}
@media screen and (max-width: 600px) {
  #left {
    order: 4;
    flex-grow: 1;
    flex-basis: 100%;
  }
}
#main {
  order: 4;
  flex: 3;
  padding: 10px;
  background: #ffffff;
}
@media screen and (max-width: 800px) {
  #main {
    order: 3;
    flex-grow: 1;
    flex-basis: 100%;
    width: 100%;
  }
}
#important {
  order: 5;
  flex: 1;
  padding: 10px;
  background-color: #ffd6d6;
}
#important ul {
  list-style-image: url("images/bullet.png");
}
#important ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
#important ul li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  #important {
    order: 5;
    flex: 1;
  }
}
@media screen and (max-width: 600px) {
  #important {
    order: 4;
    flex-grow: 1;
    flex-basis: 100%;
  }
}
footer {
  order: 6;
  width: 100%;
  background: #ff8a8a;
  text-align: center;
}
.footer p {
  margin: 5px 8px 5px 8px;
}
